<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Our Catalog </ion-title>
    <ion-buttons slot="end">
      <ion-button
        routerLink="/add"
        ><ion-icon
        slot="icon-only"
        name="add-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="ion-margin">
    <strong>We propose these new courses : </strong>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

  <ion-list>
    @for(course of tabCourses; track $index) {
    <ion-item [routerLink]="['/details', course.id]">
      <ion-avatar>
        <img [src]="course.image" />
      </ion-avatar>
      <ion-label class="ion-margin-start"> {{ course.title }} </ion-label>
    </ion-item>
    }
  </ion-list>

</ion-col>
</ion-row>
</ion-grid>
</ion-content>